* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  color: #111111;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.inputs-section {
  display: flex;
  gap: 12px;
}

.custom-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.custom-input label {
  font-size: 14px;
  font-weight: 500;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8a05be;
  pointer-events: none; /* Para garantir que o rastro não interfira com cliques */
  animation: fade 1s forwards;
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
